body {
	color: #581845;
	background: #FCE38A;
	margin: 25px 25px 25px 25px;
}
h1 {
	color: #95E1D3;
}
h2 {
	color: #F38181;
}
#header {
	background: #FCE38A;
}
#footer {
    background: #EAFFD0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
div.center {
	text-align: center;
}
ul.chapter1 {
  	list-style-type: none;
}
button.chapter1 {
	background: transparent;
	color: #581845
}
img {
	display: inline;
}
/*tablet size*/

/*phone size*/
img {
	width: 100%;
    height: auto;
}
/* unvisited link */
a:link {
    color: #95E1D3;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #95E1D3;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: blue;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: hotpink;
    text-decoration: underline;
}