body {
	color: #581845;
	background: #FCE38A;
	margin: 25px 25px 25px 25px;
}
h1 {
	color: #95E1D3;
}
h2 {
	color: #F38181;
}
#header {
	background: #FCE38A;
}
#footer {
    background: #EAFFD0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
ul.chapter1 {
  	list-style-type: none;
}
button.chapter1 > a:hover {
	background-color: #95E1D3;
	color: #581845
}
button.chapter1 > a:hover {
	background-color: transparent;
	color: #581845
}
img {
	display: inline;
}
/*tablet size*/

/*phone size*/
img {
	width: 100%;
    height: auto;
}
